body, html {
		padding: 0;
		margin: 0;
		background-color: #e7e8e9;
	}

	#container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;			
	}
	h1 {
		text-align: center;
	}
	
	#ny{
		fill:red;
	}